<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>水果商城</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="http://127.0.0.1:8000/templates/assets/img/favicon.png" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" href="http://127.0.0.1:8000/templates/assets/css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="http://127.0.0.1:8000/templates/assets/css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="http://127.0.0.1:8000/templates/assets/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="http://127.0.0.1:8000/templates/assets/css/responsive.css">
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://127.0.0.1:8000/templates/assets/https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

<!-- Body main wrapper start -->
<div class="body-wrapper">    
    
    <!-- HEADER AREA START (header-5) -->
    <header class="ltn__header-area ltn__header-5 ltn__header-logo-and-mobile-menu-in-mobile--- ltn__header-logo-and-mobile-menu--- ltn__header-transparent gradient-color-4---">

        <!-- ltn__header-middle-area start -->
        <div class="ltn__header-middle-area ltn__logo-right-menu-option ltn__header-row-bg-white ltn__header-padding ltn__header-sticky ltn__sticky-bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="site-logo-wrap">
                            <div class="site-logo">
                                <a href="http://127.0.0.1:8000/"><img src="" ></a>
                            </div>
                            <div class="get-support clearfix d-none">
                                <div class="get-support-icon">
                                    <i class="icon-call"></i>
                                </div>
                                <div class="get-support-info">
                                    <h6>Get Support</h6>
                                    <h4><a href="http://127.0.0.1:8000/templates/assets/tel:+123456789">123-456-789-10</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col header-menu-column menu-color-white---">
                        <div class="header-menu d-none d-xl-block">
                            <nav>
                                <div class="ltn__main-menu">
                                    <ul>
                                        <li><a href="http://127.0.0.1:8000/">首页</a>
                                        </li>
                                        <li class="menu-icon"><a href="#">全部分类</a>
                                            <ul>
                                                {% for category in book_category %}
                                                    <li><a href="http://127.0.0.1:8000/catagory?id={{ category.id }}">{{ category.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                        </li>
                                        <li><a href="http://127.0.0.1:8000/account/">个人中心</a>
                                        </li>
                                        <li><a href="http://127.0.0.1:8000/logout/">注销账号</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col--- ltn__header-options ltn__header-options-2 mb-sm-20">
                        <!-- header-search-1 -->
                        <div class="header-search-wrap">
                            <div class="header-search-1">
                                <div class="search-icon">
                                    <i class="icon-search for-search-show"></i>
                                    <i class="icon-cancel  for-search-close"></i>
                                </div>
                            </div>
                            <div class="header-search-1-form">
                                <form action="http://127.0.0.1:8000/search/" method="post">
                                    <input id="searchInput1" class="search-input" type="text" name="search"
                                           placeholder="输入你想要搜索的内容，并按下回车搜索">
                                </form>
                            </div>
                        </div>

                        <div class="mini-cart-icon">
                            <a href="#ltn__utilize-cart-menu" class="ltn__utilize-toggle">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>
                        <!-- mini-cart -->
                        <!-- Mobile Menu Button -->
                        <div class="mobile-menu-toggle d-xl-none">
                            <a href="http://127.0.0.1:8000/templates/assets/#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                <svg viewBox="0 0 800 600">
                                    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                                    <path d="M300,320 L540,320" id="middle"></path>
                                    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-middle-area end -->
    </header>
    <!-- HEADER AREA END -->

    <!-- Utilize Cart Menu Start -->
    <div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <span class="ltn__utilize-menu-title">购物车</span>
                <button class="ltn__utilize-close">×</button>
            </div>
            <div class="mini-cart-product-area ltn__scrollbar">
                {% for book in cart %}
                    <div class="mini-cart-item clearfix">
                    <div class="mini-cart-img">
                        <a href="#"><img src="http://127.0.0.1:8000/{{ book.cover }}" alt="Image"></a>

                    </div>
                    <div class="mini-cart-info">
                        <h6><a href="#">{{ book.book }}</a></h6>
                        <span class="mini-cart-quantity">{{ book.count }}Kg x {{ book.price }}元/Kg</span>
                    </div>
                    <div class="cart-edit">
                        <div class="item-wrapper d-flex mr--5 align-items-center">
                            <a href="http://127.0.0.1:8000/delcart?id={{ book.id }}" class="delete-cart"><i
                                    class="icon-cancel"></i>删除</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
                        <div class="mini-cart-footer">
                <div class="mini-cart-sub-total">
                    <h5>总计: <span>{{ cart_price }}元</span></h5>
                </div>
                <div class="btn-wrapper">
                    <a href="http://127.0.0.1:8000/checkout/" class="theme-btn-1 btn btn-effect-1">去结账</a>
                </div>
                <p>新店开业，活动多多</p>
            </div>

        </div>
    </div>
    <!-- Utilize Cart Menu End -->



    <div class="ltn__utilize-overlay"></div>

    <!-- SLIDER AREA START (slider-3) -->
    <div class="ltn__slider-area ltn__slider-3  section-bg-1">
        <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2  ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---" data-bs-bg="http://127.0.0.1:8000/templates/assets/img/slider/62.jpg">
                <div class="ltn__slide-item-inner  text-left">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title white-color--- animated"><span><i class="fas fa-syringe"></i></span> 立刻领取优惠券</h6>
                                        <h1 class="slide-title animated ">全场通用 <br>立减20</h1>
{#                                        <div class="btn-wrapper animated">#}
{#                                            <a href="http://127.0.0.1:8000/youhui20/" class="theme-btn-1 btn btn-effect-1">立即领取</a>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---" data-bs-bg="http://127.0.0.1:8000/templates/assets/img/slider/11.jpg">
                <div class="ltn__slide-item-inner text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title white-color--- animated"><span><i class="fas fa-syringe"></i></span> 立刻领取优惠券</h6>
                                        <h1 class="slide-title animated ">全场通用 <br>立减40</h1>
{#                                        <div class="btn-wrapper animated">#}
{#                                            <a href="http://127.0.0.1:8000/youhui40/" class="theme-btn-1 btn btn-effect-1">立即领取</a>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2  ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---" data-bs-bg="http://127.0.0.1:8000/templates/assets/img/slider/12.jpg">
                <div class="ltn__slide-item-inner  text-right text-end">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title white-color--- animated"><span><i class="fas fa-syringe"></i></span> 立刻领取优惠券</h6>
                                        <h1 class="slide-title animated ">全场通用 <br>立减60</h1>
{#                                        <div class="btn-wrapper animated">#}
{#                                            <a href="http://127.0.0.1:8000/youhui60/" class="theme-btn-1 btn btn-effect-1">立即领取</a>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
    <!-- SLIDER AREA END -->
    




    <!-- PRODUCT AREA START (product-item-3) -->
    <div class="ltn__product-area ltn__product-gutter  no-product-ratting pt-85 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title">热销商品</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
{#                        <div class="col-lg-12 col-sm-6">#}
{#                            <div class="ltn__banner-item">#}
{#                                <div class="ltn__banner-img">#}
{#                                    <a href="http://127.0.0.1:8000/"><img src="http://127.0.0.1:8000/templates/assets/img/banner/11.jpg" alt="Banner Image"></a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-12 col-sm-6">#}
{#                            <div class="ltn__banner-item">#}
{#                                <div class="ltn__banner-img">#}
{#                                    <a href="http://127.0.0.1:8000/templates/assets/"><img src="http://127.0.0.1:8000/templates/assets/img/banner/12.jpg" alt="Banner Image"></a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                </div>
                <div class="col-lg-9" style="margin-left: -200px">
                    <div class="row ltn__tab-product-slider-one-active--- slick-arrow-1">
                        {% for sbook in book %}
                            <div class="col-lg-3--- col-md-4 col-sm-6 col-6">
                            <div class="ltn__product-item ltn__product-item-2 text-left">
                                <div class="product-img">
                                    <a href="http://127.0.0.1:8000/detail?id={{ sbook.id }}"><img src="http://127.0.0.1:8000/{{ sbook.cover }}" alt="#"></a>
                                    <div class="product-badge">
                                        <ul>
                                            <li class="sale-badge">New</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info">

                                    <h2 class="product-title"><a href="http://127.0.0.1:8000/detail?id={{ sbook.id }}">{{ sbook.name }}</a></h2>
                                    <div class="product-price">
                                        <span>${{ sbook.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT AREA END -->


    <!-- FOOTER AREA START -->
    <footer class="ltn__footer-area  ">

        <div class="ltn__copyright-area ltn__copyright-2 section-bg-7  plr--5">
            <div class="container-fluid ltn__border-top-2">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="ltn__copyright-design clearfix">
                            <p>All Rights Reserved @ XXX <span class="current-year"></span></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER AREA END -->



</div>
<!-- Body main wrapper end -->

    <!-- preloader area start -->
    <div class="preloader d-none" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!-- All JS Plugins -->
    <script src="http://127.0.0.1:8000/templates/assets/js/plugins.js"></script>
    <!-- Main JS -->
    <script src="http://127.0.0.1:8000/templates/assets/js/main.js"></script>
  
</body>
</html>

